.ferris-item {
    position: absolute;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    will-change: transform;
}

[data-ferris-item="0"] {
    transform: translate(0) rotateZ(0) scale(1);
}
